.product{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    max-width: 400px;
    min-width: 100px;
    margin: 10px;
    z-index: 1;
    padding: 20px;
    width: 100%;
}
.product__info{
    height: 100px;
    margin-bottom:70px;
}
.product__price{
    margin-left: 5px;
}
.product img{
    width: 100%;
    max-height: 200px;
    object-fit: contain;
    margin-bottom: 40px;
}
.product button{
    background-color: #f0c14b;
    border: none;
    outline: none;
    box-shadow: 1px 6px 8px -9px black;
    cursor: pointer;
    padding: 2px 6px;
    border-radius: 5px;
}